<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Brands</title>
</head>
<body>
<h2>Brands</h2>
<div th:each="brand : ${brands}">
    <p>
        Name : <span th:text="*{brand.brandName}"></span>
    </p>
</div>
<h4>Add new brand</h4>
<div>
    <form th:method="POST" th:action="@{/product/brand}" th:object="${brandForm}">
        <tr>
            <td>Enter brand:</td>
            <td><input type="text" th:field="*{brandName}" required/></td>
            <div th:if="${brandError}">
                <div style="color: red" th:text="${brandError}"></div>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}" >brand error</div>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </form>
</div>
<p><a href="/">Home</a></p>
</body>
</html>