<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h2>Categories</h2>
<div th:each="category : ${categories}">
    <p>
        Name : <span th:text="*{category.categoryName}"></span>
    </p>
</div>
<h4>Add new category</h4>
<div>
    <form th:method="POST" th:action="@{/product/category}" th:object="${categoryForm}">
        <tr>
            <td>Enter category:</td>
            <td><input type="text" th:field="*{categoryName}"/></td>
            <div th:if="${categoryError}">
                <div style="color: red" th:text="${categoryError}"></div>
            </div>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </form>
</div>
<p><a href="/">Home</a></p>
</body>
</html>