<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Colors</title>
</head>
<body>
<h2>Colors</h2>
<div th:each="color : ${colors}">
    <p>
        Name : <span th:text="*{color.colorName}"></span>
    </p>
</div>
<h4>Add new color</h4>
<div>
    <form th:method="POST" th:action="@{/product/color}" th:object="${colorForm}">
        <tr>
            <td>Enter color:</td>
            <td><input type="text" th:field="*{colorName}"/></td>
            <div th:if="${colorError}">
                <div style="color: red" th:text="${colorError}"></div>
            </div>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </form>
</div>
<p><a href="/hello">Home</a></p>
</body>
</html>