<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<form th:method="POST" th:action="@{/product/create}" th:object="${productForm}">
    <label>
        Choose category:
        <select th:field="*{categoryName}" required>
            <option value="">Choose category</option>
            <option th:each="category : ${categories}"
                    th:value="${category.categoryName}"
                    th:text="${category.categoryName}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" >category error</div>
    </label>
    <br>
    <p><a th:href="@{/product/category}">Add new category</a></p>
    <br>
    <label>
        Choose brand:
        <select th:field="*{brandName}" required>
            <option value="">Choose brand</option>
            <option th:each="brand : ${brands}"
                    th:value="${brand.brandName}"
                    th:text="${brand.brandName}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}" >brand error</div>
    </label>
    <br>
    <p><a th:href="@{/product/brand}">Add new brand</a></p>
    <br>
    <label>
        Model:
        <input type="text" th:field="*{model}" required/>
        <div style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}" >model error</div>
    </label>
    <br>
    <label>
        Price:
        <input type="number" th:field="*{price}" required/>
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >price error</div>
    </label>
    <br>
    <label>
        Quantity:
        <input type="number" th:field="*{quantity}" required/>
        <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" >quantity error</div>
    </label>
    <br>
    <label>
        Picture url:
        <input type="text" th:field="*{url}" required/>
        <div style="color:red" th:if="${#fields.hasErrors('url')}" th:errors="*{url}" >url error</div>
    </label>
    <br>
    <label>
        Choose season:
        <select th:field="*{seasonName}" required>
            <option value="">Choose season</option>
            <option th:each="season : ${seasons}"
                    th:value="${season.seasonName}"
                    th:text="${season.seasonName}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('seasonName')}" th:errors="*{seasonName}" >season error</div>
    </label>
    <br>
    <p><a th:href="@{/product/season}">Add new season</a></p>
    <br>
    <label>
        Choose material:
        <select th:field="*{materialName}" required>
            <option value="">Choose material</option>
            <option th:each="material : ${materials}"
                    th:value="${material.materialName}"
                    th:text="${material.materialName}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('materialName')}" th:errors="*{materialName}" >material error</div>
    </label>
    <br>
    <p><a th:href="@{/product/material}">Add new material</a></p>
    <br>
    <label>
        Choose color:
        <select th:field="*{colorName}" required>
            <option value="">Choose color</option>
            <option th:each="color : ${colors}"
                    th:value="${color.colorName}"
                    th:text="${color.colorName}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('colorName')}" th:errors="*{colorName}" >color error</div>
    </label>
    <br>
    <p><a th:href="@{/product/color}">Add new color</a></p>
    <br>
    <label>
        Choose size:
        <select name="size" required>
            <option value="">Choose size</option>
            <option th:each="i: ${#numbers.sequence(66, 100)}"
                    th:value="${i / 2.0}"
                    th:text="${i / 2.0}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}" >size error</div>
    </label>
    <br>
    <label>
        <input name="submit" type="submit" value="submit"/>
    </label>
</form>
<p><a href="/">Home</a></p>
</body>
</html>