<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="/styles/demo.css">
    <title>Welcome</title>
</head>

<body>
    <div class="red-text">
        Red text
    </div>
    <br>
    <div class="green-text">
        Green text
    </div>
    <span sec:authorize="isAuthenticated()">
        <h1>Welcome, <span sec:authentication="name">Username</span></h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out"/>
        </form>
    </span>
<br>

<input type="button" class="button" onclick="sayHello();"
       value="Click me!">

</body>
</html>