<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account</title>
</head>
<body>
<div>
    <div th:if="${param.error}" class="alert alert-error">
        Invalid email or password.
    </div>
    <form th:method="POST" th:action="@{/login}">
        <table>
            <tr>
                <td>Email:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>