<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/order/edit/pay/{id}(id=${order.id})}">
    <label>
        Choose payment status:
        <li th:each="payment : ${paymentStatuses}">
            <div th:if="${order.paymentStatus == payment}">
                <input name="paymentStatus" type="radio" th:value="${payment}" checked/>
                <label th:for="${payment}" th:text="${payment}"></label>
            </div>
            <div th:unless="${order.paymentStatus == payment}">
                <input name="paymentStatus" type="radio" th:value="${payment}" />
                <label th:for="${payment}" th:text="${payment}"></label>
            </div>
        </li>
    </label>
    <br>
    <label>
        <input name="submit" type="submit" value="submit"/>
    </label>
</form>
</body>
</html>