<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        Order status:<span th:text="*{order.orderStatus}"></span>
        <p><a th:href="@{/admin/order/edit/status/{id}(id=${order.id})}">Edit order status</a></p>
    </p>
    <p>
        Payment status:<span th:text="*{order.paymentStatus}"></span>
        <div th:if="${order.paymentStatus == 'AWAITING_PAYMENT'}">
            <a th:href="@{/admin/order/edit/pay/{id}(id=${order.id})}">Edit payment status</a>
        </div>
    </p>
</body>
</html>