<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/order/edit/status/{id}(id=${order.id})}">
    <label>
        Choose order status:
        <li th:each="status : ${orderStatuses}">
            <div th:if="${order.orderStatus == status}">
                <input name="orderStatus" type="radio" th:value="${status}" checked/>
                <label th:for="${status}" th:text="${status}"></label>
            </div>
            <div th:unless="${order.orderStatus == status}">
                <input name="orderStatus" type="radio" th:value="${status}" />
                <label th:for="${status}" th:text="${status}"></label>
            </div>
        </li>
    </label>
    <br>
    <label>
        <input name="submit" type="submit" value="submit"/>
    </label>
</form>
</body>
</html>