<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h2>Products</h2>
<div th:each="product : ${products}">
    <p>
        Brand : <span th:text="*{product.brandName}"></span>
    </p>
    <p>
        Model : <span th:text="*{product.model}"></span>
    </p>
    <p>
        Season : <span th:text="*{product.seasonName}"></span>
    </p>
    <p>
        Color : <span th:text="*{product.colorName}"></span>
    </p>
    <p>
        Material : <span th:text="*{product.materialName}"></span>
    </p>
    <p>
        Size : <span th:text="*{product.size}"></span>
    </p>
    <p>
        Category : <span th:text="*{product.categoryName}"></span>
    </p>
    <p>
        Price : <span th:text="*{product.price}"></span>
    </p>
    <div>
        <img th:src="*{product.url}"
             width="189" height="255" alt="lorem">
    </div>
    <p><a th:href="@{/bucket/add/{id}(id=${product.id})}">Buy</a></p>
</div>
<p><a href="/">Home</a></p>
</body>
</html>