<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/product/create}">Create new product</a></p>
<p><a th:href="@{/product/category}">Add new category</a></p>
<p><a th:href="@{/product/brand}">Add new brand</a></p>
<p><a th:href="@{/product/color}">Add new color</a></p>
<p><a th:href="@{/product/material}">Add new material</a></p>
<p><a th:href="@{/product/season}">Add new season</a></p>
<p><a th:href="@{/product/size}">Add new size</a></p>
<p><a th:href="@{/}">Home</a></p>
</body>
</html>