<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seasons</title>
</head>
<body>
<h2>Seasons</h2>
<div th:each="season : ${seasons}">
    <p>
        Name : <span th:text="*{season.seasonName}"></span>
    </p>
</div>
<h4>Add new season</h4>
<div>
    <form th:method="POST" th:action="@{/product/season}" th:object="${seasonForm}">
        <tr>
            <td>Enter season:</td>
            <td><input type="text" th:field="*{seasonName}"/></td>
            <div th:if="${seasonError}">
                <div style="color: red" th:text="${seasonError}"></div>
            </div>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </form>
</div>
<p><a href="/">Home</a></p>
</body>
</html>