<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sizes</title>
</head>
<body>
<h2>Sizes</h2>
<div th:each="size : ${sizes}">
    <p>
        Name : <span th:text="*{size.size}"></span>
    </p>
</div>
<h4>Add new size</h4>
<div>
    <form th:method="POST" th:action="@{/product/size}" th:object="${sizeForm}">
        <tr>
            <td>Enter size:</td>
            <td><input type=number step=0.5 th:field="*{size}" required/></td>
            <div th:if="${sizeError}">
                <div style="color: red" th:text="${sizeError}"></div>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}" >season error</div>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </form>
</div>
<p><a href="/">Home</a></p>
</body>
</html>