<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/user/editpass}" th:object="${userForm}">
    <input type="hidden" th:field="*{id}">
    <label for="oldPassword">Enter old password: </label>
    <input type="password" th:field="*{oldPassword}" id="oldPassword"/>
    <div th:if="${oldPassError}">
        <div style="color: red" th:text="${oldPassError}"></div>
    </div>
    <br>
    <label for="password">Enter new password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <label for="confirmPassword">Confirm password: </label>
    <input type="password" th:field="*{confirmPassword}" id="confirmPassword"/>
    <div th:if="${passwordError}">
        <div style="color: red" th:text="${passwordError}"></div>
    </div>
    <br>
    <input name="submit" type="submit" value="Update!" />
</form>
</body>
</html>