<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/profile/editpass}" th:object="${userForm}">
    <input type="hidden" th:field="*{id}">
    <label for="oldPassword">Enter old password: </label>
    <input type="password" th:field="*{oldPassword}" id="oldPassword" required/>
    <div th:if="${oldPassError}">
        <div style="color: red" th:text="${oldPassError}"></div>
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" >oldPassword error</div>
    <br>
    <label for="password">Enter new password: </label>
    <input type="password" th:field="*{password}" id="password" required/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >password error</div>
    <br>
    <label for="confirmPassword">Confirm password: </label>
    <input type="password" th:field="*{confirmPassword}" id="confirmPassword" required/>
    <div th:if="${passwordError}">
        <div style="color: red" th:text="${passwordError}"></div>
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" >password error</div>
    <br>
    <input name="submit" type="submit" value="Update!" />
</form>
</body>
</html>